In [ ]:
#Load the libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from bs4 import BeautifulSoup
import spacy
import re,string,unicodedata
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from textblob import TextBlob
from textblob import Word
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split,cross_val_score, KFold

from sklearn.metrics import accuracy_score, f1_score, confusion_matrix,classification_report
from sklearn.metrics import recall_score,precision_score,precision_recall_fscore_support
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier

nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

import pandas as pd
import numpy as np
import nltk
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
import re
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [ ]:
train_data = '/content/gdrive/MyDrive/NLP_Project/labels.csv'
test_data = '/content/gdrive/MyDrive/NLP_Project/2000_testdata.csv'

In [ ]:
#basic preprocessing

#removing punctuation
def remove_punct_numbers(words):
    return [word.lower() for word in words if word.isalpha()]

# remove stop words
stop_words = nltk.corpus.stopwords.words('english')
def remove_stopwords(words):
    return [word for word in words if word not in stop_words]


# lemmatize
lematizer = WordNetLemmatizer()

def get_wordnet_pos(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)


def lematize(words):
    words = [lematizer.lemmatize(word,pos=get_wordnet_pos(word)) for word in words]
    #words = [lematizer.lemmatize(word,pos='v') for word in words]
    return words

In [ ]:
#Preprocessing train data and test data 

def input_func(file, label):
    #input_path = input('/content/labels.csv')
    #input_path = input_path.replace ("/","//")
    df = pd.read_csv(file)
    df = df.dropna()
    df['processed'] = df[label].apply(lambda x:nltk.word_tokenize(x))
    df['processed'] = df['processed'].apply(remove_punct_numbers)
    df['processed'] = df['processed'].apply(remove_stopwords)
    df['processed'] = df['processed'].apply(lematize)
    return df

df = input_func(train_data, 'text_ocr')
df.to_csv('train_data_processed.csv')

df = input_func(test_data, 'OCR_extracted_text')
df.to_csv('test_data_processed.csv')

# TASK1 using LR/NB

In [ ]:
#reading csv file
def read_corpus(file):
  return pd.read_csv(file)
  
train_data = '/content/gdrive/MyDrive/NLP_Project/train_data_processed.csv'
test_data = '/content/gdrive/MyDrive/NLP_Project/test_data_processed.csv'
test_true = '/content/gdrive/MyDrive/NLP_Project/Test_Actual_Final.csv'

In [ ]:
#Dataset containing true values 

true_df = read_corpus(test_true)
#Extracting the first digit (1, 0 , -1) from Labels 

true_df['Sentiment'] = true_df['Labels'].str.split('_').str[0]
true_df['Sentiment'] = true_df['Sentiment'].astype(int)
true_df.head()

   Unnamed: 0  ... Sentiment
0           0  ...         1
1           1  ...         1
2           2  ...         1
3           3  ...         0
4           4  ...         0

[5 rows x 4 columns]

In [ ]:
#Dataset containing the Train data
train_df = read_corpus(train_data)

train_df.head()

   Unnamed: 0  ...                                          processed
0           0  ...  ['look', 'friend', 'lightyear', 'sohalikut', '...
1           1  ...  ['best', 'yearchallenge', 'complete', 'less', ...
2           2  ...  ['sam', 'thorne', 'strippin', 'follow', 'follo...
3           3  ...   ['year', 'challenge', 'sweet', 'dee', 'edition']
4           4  ...  ['year', 'challenge', 'filter', 'hilarious', '...

[5 rows x 11 columns]

In [ ]:
train_df['overall_sentiment'].value_counts()

positive         3057
neutral          2157
very_positive    1001
negative          469
very_negative     146
Name: overall_sentiment, dtype: int64

In [ ]:
#converting categorical to numerical 

train_df['overall_sentiment'].replace({'very_negative': -1, 'negative': -1, 'neutral': 0, 'positive': 1, 'very_positive': 1}, inplace=True)
train_df['overall_sentiment'].value_counts()

 1    4058
 0    2157
-1     615
Name: overall_sentiment, dtype: int64

In [ ]:
print(train_df.humour.value_counts())
print(train_df.sarcasm.value_counts())
print(train_df.offensive.value_counts())
print(train_df.motivational.value_counts())

funny         2394
very_funny    2176
not_funny     1618
hilarious      642
Name: humour, dtype: int64
general            3430
not_sarcastic      1516
twisted_meaning    1499
very_twisted        385
Name: sarcasm, dtype: int64
not_offensive        2657
slight               2536
very_offensive       1424
hateful_offensive     213
Name: offensive, dtype: int64
not_motivational    4421
motivational        2409
Name: motivational, dtype: int64

Task B:

Not humorous => 0 and Humorous (funny, very funny, hilarious) => 1
Not Sarcastic => 0 and Sarcastic (general, twisted meaning, very twisted) => 1
Not offensive => 0 and Offensive (slight, very offensive, hateful offensive) => 1
Not Motivational => 0 and Motivational => 1

In [ ]:

train_df.humour[train_df['humour']!='not_funny']= 1
train_df.humour[train_df['humour']=='not_funny']= 0
train_df.sarcasm[train_df['sarcasm']!='not_sarcastic']= 1
train_df.sarcasm[train_df['sarcasm']=='not_sarcastic']= 0
train_df.offensive[train_df['offensive']!='not_offensive']= 1
train_df.offensive[train_df['offensive']=='not_offensive']= 0
train_df.motivational[train_df['motivational']!='not_motivational']= 1
train_df.motivational[train_df['motivational']=='not_motivational']= 0

In [ ]:
train_df.head()

   Unnamed: 0  ...                                          processed
0           0  ...  ['look', 'friend', 'lightyear', 'sohalikut', '...
1           1  ...  ['best', 'yearchallenge', 'complete', 'less', ...
2           2  ...  ['sam', 'thorne', 'strippin', 'follow', 'follo...
3           3  ...   ['year', 'challenge', 'sweet', 'dee', 'edition']
4           4  ...  ['year', 'challenge', 'filter', 'hilarious', '...

[5 rows x 11 columns]

In [ ]:
print(train_df.humour.value_counts())
print(train_df.sarcasm.value_counts())
print(train_df.offensive.value_counts())
print(train_df.motivational.value_counts())

1    5212
0    1618
Name: humour, dtype: int64
1    5314
0    1516
Name: sarcasm, dtype: int64
1    4173
0    2657
Name: offensive, dtype: int64
0    4421
1    2409
Name: motivational, dtype: int64

In [ ]:
#Dataset containing the processed text of test data

test_df = read_corpus(test_data)
test_df.head()

   Unnamed: 0  ...                                          processed
0           0  ...  ['magician', 'walk', 'water', 'chuck', 'norris...
1           1  ...      ['one', 'million', 'dollar', 'make', 'imgur']
2           2  ...  ['mom', 'friend', 'sleep', 'mom', 'fine', 'boy...
3           3  ...  ['guy', 'inherit', 'mess', 'whine', 'foxed', '...
4           4  ...  ['threat', 'kim', 'jong', 'un', 'allegedly', '...

[5 rows x 6 columns]

In [ ]:
#required data

#for training
train_text = train_df['processed']  #X_train
sentiment = train_df['overall_sentiment'] #Y_train

#for testing
test_text = test_df['processed'] #X_test

#for predicting
actual_test_sentiment = true_df['Sentiment'] #Y_test

In [ ]:
#1. Count vectorizer for bag of words

cv = CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
cv_train = cv.fit_transform(train_text)
cv_test = cv.transform(test_text)

BOW train: (6830, 68600)
BOW test: (1859, 68600)

In [ ]:
#2. using TFIDF

vectorizer = TfidfVectorizer(ngram_range=(1, 3))

cv_train = vectorizer.fit_transform(train_text)    
cv_test = vectorizer.transform(test_text)

In [ ]:
#training the model using LR
model = LogisticRegression(penalty='l2', max_iter=500, C=1, random_state=42)

#model = MultinomialNB()

#Fitting the model for Bag of words
model.fit(cv_train, sentiment)

print("\n Training Accuracy: ", model.score(cv_train, sentiment)*100)

 Training Accuracy:  95.2415812591508

In [ ]:
#making prediction
predicted_test_sentiment = model.predict(cv_test)

#calculating accuracy

print(' Test accuracy is {}'.format(accuracy_score(actual_test_sentiment, predicted_test_sentiment) * 100))
print(" F1 Score: {:.2f}".format(f1_score(actual_test_sentiment, predicted_test_sentiment, average='macro') * 100))
print(" Precision Score: {:.2f}".format(precision_score(actual_test_sentiment, predicted_test_sentiment, average='macro') * 100))
print(" Recall Score: {:.2f}".format(recall_score(actual_test_sentiment, predicted_test_sentiment, average='macro') * 100))

report = classification_report(actual_test_sentiment, predicted_test_sentiment)
print(report)

 Test accuracy is 58.095750403442715
 F1 Score: 26.30
 Precision Score: 30.41
 Recall Score: 33.18
              precision    recall  f1-score   support

          -1       0.00      0.00      0.00       172
           0       0.32      0.03      0.06       586
           1       0.59      0.96      0.73      1101

    accuracy                           0.58      1859
   macro avg       0.30      0.33      0.26      1859
weighted avg       0.45      0.58      0.45      1859

# TASK2 using LR/NB

In [ ]:
## Import The Dataset  
train_df=pd.read_csv(train_data)
test_df,true_df=pd.read_csv(test_data),pd.read_csv(test_true)

train_df.humour[train_df['humour']!='not_funny']='1'
train_df.humour[train_df['humour']=='not_funny']='0'
train_df.sarcasm[train_df['sarcasm']!='not_sarcastic']='1'
train_df.sarcasm[train_df['sarcasm']=='not_sarcastic']='0'
train_df.offensive[train_df['offensive']!='not_offensive']='1'
train_df.offensive[train_df['offensive']=='not_offensive']='0'
train_df.motivational[train_df['motivational']!='not_motivational']='1'
train_df.motivational[train_df['motivational']=='not_motivational']='0'

In [ ]:
def Multilabel(classifier,train_df,test_df,true_df):
    X_train=train_df['processed']
    X_test=test_df['processed']
    
    #### Create Bag of words 
    cv = CountVectorizer(min_df=0,max_df=1,binary=False,ngram_range=(1,3))
    cv_train = cv.fit_transform(X_train)
    cv_test = cv.transform(X_test)
    
    if classifier.lower()=='lr':
        # Using pipeline for applying logistic regression and one vs rest classifier
        model_pipeline = Pipeline([
                ('clf', OneVsRestClassifier(LogisticRegression(solver='sag'), n_jobs=-1)),
            ])
    elif classifier.lower()=='nb':
        # Using pipeline for applying Naive Bayes and one vs rest classifier
        model_pipeline  = Pipeline([
                ('clf', OneVsRestClassifier(MultinomialNB(), n_jobs=-1)),
            ])
        
    
    categories={'humour':0,'sarcasm':1,'offensive':2,'motivational':3}
    

    for category in categories.keys():
        print('*Processing {} category...*'.format(category))
    
        # Training model pipeline on train data
        model_pipeline.fit(cv_train, train_df[category])
        
        # Applying k-Fold Cross Validation
        accuracies = cross_val_score(model_pipeline, X = cv_train, y = train_df[category], cv=KFold(n_splits=5))
        print("\n Accuracy: {:.2f} %".format(accuracies.mean()*100))
        print(" Standard Deviation: {:.2f} %".format(accuracies.std()*100))
        
        # calculating test accuracy
        predicted = model_pipeline.predict(cv_test)
        y_test=true_df['Labels'].str.split('_').str[1].str[categories[category]]
        report = classification_report(y_test, predicted)
        
        print(report)
        print(' Test accuracy is {}'.format(accuracy_score(y_test,predicted)))
        print(" F1 Score: {:.2f}".format(f1_score(y_test, predicted, average='macro') * 100))
        print(" Precision Score: {:.2f}".format(precision_score(y_test, predicted, average='weighted') * 100))
        print(" Recall Score: {:.2f}".format(recall_score(y_test, predicted, average='weighted') * 100))
        print("\n")

In [ ]:
Multilabel('LR',train_df,test_df,true_df)

*Processing humour category...*

 Accuracy: 76.31 %
 Standard Deviation: 1.28 %
              precision    recall  f1-score   support

           0       0.18      0.00      0.01       443
           1       0.76      0.99      0.86      1416

    accuracy                           0.76      1859
   macro avg       0.47      0.50      0.44      1859
weighted avg       0.62      0.76      0.66      1859

 Test accuracy is 0.7579343733189887
 F1 Score: 43.55
 Precision Score: 62.33
 Recall Score: 75.79


*Processing sarcasm category...*

 Accuracy: 77.80 %
 Standard Deviation: 0.87 %
              precision    recall  f1-score   support

           0       0.11      0.00      0.00       418
           1       0.77      0.99      0.87      1441

    accuracy                           0.77      1859
   macro avg       0.44      0.50      0.44      1859
weighted avg       0.63      0.77      0.68      1859

 Test accuracy is 0.771382463690156
 F1 Score: 43.78
 Precision Score: 62.54
 Recall Score: 77.14


*Processing offensive category...*

 Accuracy: 61.10 %
 Standard Deviation: 1.81 %
              precision    recall  f1-score   support

           0       0.40      0.04      0.08       700
           1       0.62      0.96      0.76      1159

    accuracy                           0.62      1859
   macro avg       0.51      0.50      0.42      1859
weighted avg       0.54      0.62      0.50      1859

 Test accuracy is 0.615922538999462
 F1 Score: 41.64
 Precision Score: 54.10
 Recall Score: 61.59


*Processing motivational category...*

 Accuracy: 64.73 %
 Standard Deviation: 1.53 %
              precision    recall  f1-score   support

           0       0.63      0.98      0.77      1176
           1       0.44      0.02      0.04       683

    accuracy                           0.63      1859
   macro avg       0.54      0.50      0.41      1859
weighted avg       0.56      0.63      0.50      1859

 Test accuracy is 0.6304464766003227
 F1 Score: 40.52
 Precision Score: 56.17
 Recall Score: 63.04

In [ ]:
Multilabel('NB',train_df,test_df,true_df)

*Processing humour category...*

 Accuracy: 39.55 %
 Standard Deviation: 0.82 %
              precision    recall  f1-score   support

           0       0.24      0.06      0.10       443
           1       0.76      0.94      0.84      1416

    accuracy                           0.73      1859
   macro avg       0.50      0.50      0.47      1859
weighted avg       0.64      0.73      0.66      1859

 Test accuracy is 0.7310381925766541
 F1 Score: 66.46
 Precision Score: 63.84
 Recall Score: 73.10


*Processing sarcasm category...*

 Accuracy: 36.08 %
 Standard Deviation: 0.78 %
              precision    recall  f1-score   support

           0       0.25      0.06      0.09       418
           1       0.78      0.95      0.86      1441

    accuracy                           0.75      1859
   macro avg       0.51      0.50      0.47      1859
weighted avg       0.66      0.75      0.68      1859

 Test accuracy is 0.750403442711135
 F1 Score: 68.33
 Precision Score: 65.81
 Recall Score: 75.04


*Processing offensive category...*

 Accuracy: 44.90 %
 Standard Deviation: 1.45 %
              precision    recall  f1-score   support

           0       0.36      0.20      0.26       700
           1       0.62      0.78      0.69      1159

    accuracy                           0.56      1859
   macro avg       0.49      0.49      0.48      1859
weighted avg       0.52      0.56      0.53      1859

 Test accuracy is 0.5648197955890264
 F1 Score: 52.92
 Precision Score: 52.22
 Recall Score: 56.48


*Processing motivational category...*

 Accuracy: 42.28 %
 Standard Deviation: 2.12 %
              precision    recall  f1-score   support

           0       0.64      0.84      0.73      1176
           1       0.40      0.18      0.25       683

    accuracy                           0.60      1859
   macro avg       0.52      0.51      0.49      1859
weighted avg       0.55      0.60      0.55      1859

 Test accuracy is 0.5981710597095212
 F1 Score: 54.98
 Precision Score: 54.93
 Recall Score: 59.82